html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: #F5f6f8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6534ff;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', 'sans-serif'
}
